{% extends "base.html" %}
{% block content %}
<h2>Register<h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control") }}
            
            {% if form.username.errors %}
            <ul class="errors">
                {% for errors in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}

            </ul>
            {% endif %}
        </div>
        <!-- Similar block for pwd and email field-->

        <div class="form-group">
            {{ form.password2.label(class="form-control-label") }}
            {{ form.password2(class="form-control") }}
            {% if form.password2.errors %}
            <ul class="errors">
                {% for error in form.password2.errors %}
                <li>{{ error }}</li>
                {% endfor}
            </ul>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    {% endblock %}
